.elements__basket {
  background-image: url(../../../images/vector.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 19px;
  flex-shrink: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}