.header {
  max-width: 880px;
  max-height: 74px;
  margin: 0 auto 40px;
  padding-top: 45px;
  background-color: #000;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 320px;
    max-height: 56px;
    margin: 0 auto 40px;
    padding-top: 28px;
  }
}
